<div class="flex h-screen bg-[#f0f7ff] overflow-hidden font-sans">

  <aside class="w-20 bg-white border-r border-blue-50 flex flex-col items-center py-6 shadow-sm z-10 shrink-0">
    <div class="mb-10">
      <img src="image/Picture1.png" alt="Riva Logo">
    </div>
    <nav class="flex flex-col gap-6">
      <div class="p-3 bg-blue-500 text-white rounded-2xl shadow-lg cursor-pointer">
        <i class="fa-solid fa-house"></i>
      </div>
      <div  class="p-3 text-gray-300 hover:bg-blue-100 rounded-2xl transition cursor-pointer">
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="p-3 text-gray-300 hover:bg-blue-100 rounded-2xl transition cursor-pointer">
        <i class="fa-solid fa-phone"></i>
      </div>
    </nav>
  </aside>

  <div class="flex-1 flex flex-col overflow-hidden">

    <header class="h-20 bg-[#f0f7ff] flex justify-between items-center px-8 shrink-0">
      <div>
        <h1 class="text-xl font-extrabold text-slate-800">Doctor Dashboard</h1>
        <p class="text-2xs text-slate-400">Last updated: Just now</p>
      </div>

      <div class="flex items-center gap-3 bg-white p-1.5 pr-4 rounded-2xl shadow-sm border border-blue-50">
        <div class="text-right">
          <p class="text-xs font-bold text-slate-700 leading-3">{{ currentDoctor.name }}</p>
          <span class="text-[9px] text-green-500 font-bold uppercase tracking-tighter">● {{ currentDoctor.status }}</span>
        </div>
        <img [src]="currentDoctor.avatar" class="w-9 h-9 rounded-full" alt="Profile" />
      </div>
    </header>

    <main class="flex-1 overflow-y-auto px-8 pb-8 space-y-6">
      
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        <div class="bg-white p-5 rounded-4xl border border-blue-50 shadow-sm">
          <p class="text-slate-400 text-xs font-bold mb-1">Total Patients</p>
          <span class="text-2xl font-black text-slate-800">{{ stats.total }}</span>
        </div>
        <div class="bg-rose-50 p-5 rounded-4xl border border-rose-100 shadow-sm">
          <p class="text-rose-400 text-xs font-bold mb-1">High Risk Patients</p>
          <span class="text-2xl font-black text-rose-500">{{ stats.highRisk }}</span>
        </div>
        <div class="bg-orange-50 p-5 rounded-4xl border border-orange-100 shadow-sm">
          <p class="text-orange-400 text-xs font-bold mb-1">Reports (PDF)</p>
          <span class="text-2xl font-black text-orange-500">{{ stats.pdfs }}</span>
        </div>
        <div class="bg-white p-5 rounded-4xl border border-blue-50 shadow-sm">
          <p class="text-slate-400 text-xs font-bold mb-1">Avg Adherence</p>
          <span class="text-2xl font-black text-green-500">{{ stats.adherence }}%</span>
        </div>
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-12 gap-6">
        
        <div class="lg:col-span-8 bg-white p-6 rounded-[2.5rem] border border-blue-50 shadow-sm">
          <div class="flex justify-between items-center mb-6">
            <h2 class="text-lg font-bold text-slate-800">Patient Overview</h2>
            <a href="#" class="text-blue-500 text-xs font-bold hover:underline">View All</a>
          </div>

          <div class="space-y-3">
            <div *ngFor="let patient of patients" class="flex items-center justify-between p-3 hover:bg-slate-50 rounded-2xl transition-all cursor-pointer">
              <div class="flex items-center gap-4">
                <span class="w-2 h-2 rounded-full shrink-0"
                      [class.bg-rose-500]="patient.status === 'Critical'"
                      [class.bg-orange-400]="patient.status === 'Attention'"
                      [class.bg-green-500]="patient.status === 'Stable'">
                </span>
                <img [src]="patient.img" class="w-10 h-10 rounded-full object-cover" [alt]="patient.name">
                <div>
                  <h3 class="text-sm font-bold text-slate-700">{{ patient.name }}</h3>
                  <p class="text-2xs text-slate-400 font-medium">{{ patient.condition }}</p>
                </div>
              </div>
              <div class="text-right">
                <p class="text-2xs font-bold text-slate-500">Room {{ patient.room }}</p>
                <p class="text-[9px] font-black uppercase tracking-tight"
                   [class.text-rose-500]="patient.status === 'Critical'"
                   [class.text-orange-400]="patient.status === 'Attention'"
                   [class.text-green-500]="patient.status === 'Stable'">
                  {{ patient.status }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="lg:col-span-4 bg-linear-to-b from-blue-50/50 to-white p-6 rounded-[2.5rem] border border-blue-50 flex flex-col items-center shadow-sm">
          <div class="rounded-full flex items-center justify-center mb-4 border border-blue-50">
             <img src="image/robot2.jpeg" class="w-30 h-30 object-cover rounded-full" alt="AI" />
          </div>
          <h3 class="text-sm font-black text-slate-800 mb-1">Medical AI Assistant</h3>
          <p class="text-[9px] text-slate-400 font-bold mb-6">Ready to help with patient analysis</p>
          <div class="w-full space-y-2">
            <button class="w-full bg-white p-3 rounded-xl text-2xs font-bold text-blue-500 shadow-sm border border-blue-50 flex items-center gap-3 hover:bg-blue-50 transition-colors">
             <i class="fa-solid fa-chart-area"></i> Analyze Patient Trends
            </button>
            <button class="w-full bg-white p-3 rounded-xl text-2xs font-bold text-orange-500 shadow-sm border border-blue-50 flex items-center gap-3 hover:bg-orange-50 transition-colors">
              <i class="fa-solid fa-circle-exclamation"></i> Risk Assessment
            </button>
            <button class="w-full bg-white p-3 rounded-xl text-2xs font-bold text-green-500 shadow-sm border border-blue-50 flex items-center gap-3 hover:bg-green-50 transition-colors">
              <span>💊</span> Drug Interactions
            </button>
          </div>
        </div>

        <div class="lg:col-span-6 bg-white p-6 rounded-[2.5rem] border border-blue-50 shadow-sm">
          <h2 class="text-sm font-black text-slate-800 mb-4 uppercase tracking-widest px-2">Patient Status</h2>
          <apx-chart
            [series]="pieOptions.series"
            [chart]="pieOptions.chart"
            [labels]="pieOptions.labels"
            [colors]="pieOptions.colors"
            [responsive]="pieOptions.responsive">
          </apx-chart>
        </div>

        <div class="lg:col-span-6 bg-white p-6 rounded-[2.5rem] border border-blue-50 shadow-sm">
          <h2 class="text-sm font-black text-slate-800 mb-4 uppercase tracking-widest px-2">Weekly Admissions</h2>
          <apx-chart
            [series]="lineOptions.series"
            [chart]="lineOptions.chart"
            [xaxis]="lineOptions.xaxis"
            [stroke]="lineOptions.stroke"
            [colors]="lineOptions.colors">
          </apx-chart>
        </div>

      </div>
    </main>
  </div>
</div>